.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 250;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-food-card{
    -fx-background-color: #48a890;
    -fx-background-radius: 20
;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.diet-assistant{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.food-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}



